// Features
div#features-wrapper
  div#features
    div.5grid-layout
      div.row
        div.3u
          section
            a.bordered-feature-image(href='#')
              img(src='images/pic01.jpg', alt='')
            h2 Colombia y el emprendimiento digital
            :markdown
              El programa **Vive Digital** promueve el desarrollo de software y aplicaciones, 
              juegos de video, publicidad y animaciones digitales.
              [Fuente: El espectador](http://bit.ly/R2sJSv)

        div.3u
          section
            a.bordered-feature-image(href='#')
              img(src='images/pic02.jpg', alt='')
            h2 Desarrolladores de software
            :markdown
              El desarrollo de software no tiene comparacion en el mercado actual de
              las ofertas laborales en tecnologia. **Incluso sin ser Ingeniero**
              [Fuente: dice](http://media.dice.com/report/october-2012-all-time-highs/)

        div.3u
          section
            a.bordered-feature-image(href='#')
              img(src='images/pic03.jpg', alt='')
            h2 Continua Demanda
            :markdown
              Los desarrolladores recien graduados en ciudades como Boston, NY o San Francisco
              tienen salarios que empiezan desde los **$75,000** dolares al año
              [Fuente: Boston Globe](http://b.globe.com/12wmyIR)


        div.3u
          section
            a.bordered-feature-image(href='#')
              img(src='images/pic04.jpg', alt='')
            h2 Welcome to Halcyonic
            :markdown
              This is a **Halcyonic** a free template that can
              include [links](http://www.google.com)
              so this kick _ass_ [badly](http://david.roncancio.me)