// Footer
div#footer-wrapper
  footer#footer.5grid-layout
    div.row
      div.12u
        section
          h2#patrocina Patrocinadores
          :markdown
            <img src="images/wayra-logo.png" width="200px" />
            <img src="images/redis-logo-color.png" width="200px" />
            <img src="images/telefonica-logo.png" width="200px" />

      div.12u
        section
          div.5grid
            div.row
              div.3u
                ul.link-list.last-child
                  li
                    a(href='mailto:info@codetag.me') Cont&aacute;ctenos
                  //- li
                  //-   a(href='#') some url
                  //- li
                  //-   a(href='#') some url
                  //- li
                  //-   a(href='#') some url
              div.3u
                ul.link-list.last-child
                  li
                    a(href='http://blog.codetag.me') Acerca de
                  //- li
                  //-   a(href='#') some url
                  //- li
                  //-   a(href='#') some url
                  //- li
                  //-   a(href='#') some url
              div.3u
                ul.link-list.last-child
                  li
                    a(href='http://codetag.me') Codetag
                  //- li
                  //-   a(href='#') some url
                  //- li
                  //-   a(href='#') some url
                  //- li
                  //-   a(href='#') some url
