section
  h3#registro Registro
  form#mc-embedded-subscribe-form.validate.form-horizontal(action="http://codetag.us4.list-manage1.com/subscribe/post?u=4a78e8d6e904b594aa6b323df&amp;id=5f643ead0c", method="post", name="mc-embedded-subscribe-form", target="_blank", novalidate).
    <div class="mc-field-group">
      <label for="mce-FLINKEDIN">Perfil P&blico;uacute Linkedin </label>
      <input type="text" value="" name="FLINKEDIN" class="" id="mce-FLINKEDIN">
    </div>
    <div class="mc-field-group control-group">
      <label for="mce-EMAIL">Correo Electrónico  <span class="asterisk">*</span>
    </label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
    <div class="mc-field-group control-group">
      <label for="mce-FREASON">Acerca de usted </label>
      <textarea name="FREASON" class="" id="mce-FREASON" rows="1"></textarea>
    </div>
    <div class="clear control-group">
      <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-success">Registrate</button>
    </div>
  p * Te enviaremos al correo la invitaci&oacute;n al evento