h2#panel Grupo de Panelistas
div.row
  div.2u
    section
       div.quote-list
        img(src='images/Jonathan-Tarud.jpg', alt='Jonathan Tarud', width=100)
        :markdown
          # [Jonathan Tarud](http://twitter.com/jonathant)  
          CEO, koombea  
          Tiene un equipo de 70 diseñadores y desarrolladores en Barranquilla
          con clientes principalmente en estados unidos

  div.2u
    section
       div.quote-list
        img(src='images/Yuji-Kiriki.jpg', alt='Yuji Kiriki', width=100)
        :markdown
          # [Yuji Kiriki](http://twitter.com/ykiriki)
          CEO, seven4n
          Tiene un equipo de 40 desarrolladores en Bogot&aacute;, creando plataformas
          de alta disponibilidad para el gobierno y grandes compañias del pa&iacute;s

  div.2u
    section
       div.quote-list
        img(src='images/Rafael-Garcia.jpg', alt='Rafael Garcia', width=100)
        :markdown
          # [Dr. Rafael Garcia](#)  
          CEO, Decano ingenieria Politecnico Gran Colombiano  

  div.2u
    section
       div.quote-list
        img(src='images/pending.jpg', alt='To be defined', width=100)
        :markdown
          # [Missing](#)
          4th Panelist still To Be Defined
  div.2u
    section
       div.quote-list
        img(src='images/pending.jpg', alt='To be defined', width=100)
        :markdown
          # [Missing](#)
          4th Panelist still To Be Defined
  div.2u
    section
       div.quote-list
        img(src='images/Dan-Gertsacov.jpg', alt='Dan Gertsacov', width=100)
        :markdown
          (Moredador)[Dan Gertsacov](http://twitter.com/dangertz)  
          CEO, Region Américas, Lenddo  
          Ex-director de google para la regi&oacute;n andina, centroam&eacute;rica y el caribe